USE [STORE]
GO
/****** Object:  Table [dbo].[CHITIETHOADONBAN]    Script Date: 27/09/2024 11:56:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONBAN](
	[HDB_ID] [char](10) NOT NULL,
	[HH_ID] [char](8) NOT NULL,
	[HDB_Soluong] [int] NOT NULL,
	[DongiaBan] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[HDB_ID] ASC,
	[HH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADONMUA]    Script Date: 27/09/2024 11:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONMUA](
	[HDN_ID] [char](10) NOT NULL,
	[HH_ID] [char](8) NOT NULL,
	[HDN_SoLuong] [int] NOT NULL,
	[DongiaNhap] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HDN_ID] ASC,
	[HH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 27/09/2024 11:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[Cust_ID] [char](10) NOT NULL,
	[Cust_name] [nvarchar](100) NOT NULL,
	[Cust_DDName] [nvarchar](50) NULL,
	[Cust_Ad] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 27/09/2024 11:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[HH_ID] [char](8) NOT NULL,
	[HH_Name] [nvarchar](50) NOT NULL,
	[DVT] [nvarchar](10) NOT NULL,
	[GiaBanMacDinh] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[HH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 27/09/2024 11:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[HDB_ID] [char](10) NOT NULL,
	[Cust_ID] [char](10) NULL,
	[HDB_Time] [date] NOT NULL,
	[HDB_TT] [nvarchar](20) NOT NULL,
	[HDB_Thue] [tinyint] NOT NULL,
	[Cust_AcNo] [varchar](14) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HDB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cust_AcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONMUA]    Script Date: 27/09/2024 11:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONMUA](
	[HDN_ID] [char](10) NOT NULL,
	[HDN_Time] [date] NOT NULL,
	[HDN_TT] [nvarchar](20) NOT NULL,
	[HDN_Thue] [tinyint] NOT NULL,
	[NCC_AcNo] [varchar](14) NOT NULL,
	[NCC_Bname] [nvarchar](50) NOT NULL,
	[NCC_BRName] [nvarchar](50) NULL,
	[NCC_ID] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[HDN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 27/09/2024 11:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[NCC_ID] [char](10) NOT NULL,
	[NCC_Name] [nvarchar](100) NOT NULL,
	[NCC_Ad] [nvarchar](100) NOT NULL,
	[NCC_Phone] [char](11) NOT NULL,
	[NCC_Fax] [char](11) NULL,
	[NCC_Web] [nvarchar](100) NULL,
	[NCC_Email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NCC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NCC_Fax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NCC_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NCC_Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD FOREIGN KEY([HDB_ID])
REFERENCES [dbo].[HOADONBAN] ([HDB_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD FOREIGN KEY([HH_ID])
REFERENCES [dbo].[HANGHOA] ([HH_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADONMUA]  WITH CHECK ADD FOREIGN KEY([HDN_ID])
REFERENCES [dbo].[HOADONMUA] ([HDN_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADONMUA]  WITH CHECK ADD FOREIGN KEY([HH_ID])
REFERENCES [dbo].[HANGHOA] ([HH_ID])
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[CUSTOMER] ([Cust_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADONMUA]  WITH CHECK ADD FOREIGN KEY([NCC_ID])
REFERENCES [dbo].[NHACUNGCAP] ([NCC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD CHECK  (([DongiaBan]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD CHECK  (([HDB_Soluong]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHOADONMUA]  WITH CHECK ADD CHECK  (([DongiaNhap]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHOADONMUA]  WITH CHECK ADD CHECK  (([HDN_SoLuong]>(0)))
GO
